<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Numbers</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h4>SnakeGame</h4>
<form id="addForm">

<table id="tabId">
<tr>
<td>숫자1</td><td>숫자2</td><td>숫자3</td><td>숫자4</td><td>숫자5</td>
<td>숫자6</td><td>숫자7</td><td>숫자8</td><td>숫자9</td><td>숫자10</td>
<td>숫자11</td><td>숫자12</td><td>숫자13</td><td>숫자14</td><td>숫자15</td>
<td>숫자16</td><td>숫자17</td><td>숫자18</td><td>숫자19</td><td>숫자20</td>
</tr>
<tr key="2">
<td>6</td><td>3</td><td>2</td><td>4</td><td>5</td>
<td>3</td><td>4</td><td>2</td><td>5</td><td>3</td>
<td>2</td><td>3</td><td>5</td><td>4</td><td>2</td>
<td>5</td><td>4</td><td>3</td><td>6</td><td>1</td>
</tr>
</table>

<button type="button" onclick="fn_abc()">나의층수로</button>
</form>
<h2>뛰어넘은 판의 수: <span id="result1"></span></h2>
<h2>주사위한 수: <span id="result2"></span></h2>
<script>
function fn_abc() {
    var num = {
        num1: $("#tabId tr[key='2'] > td").eq(0).text(),
        num2: $("#tabId tr[key='2'] > td").eq(1).text(),
        num3: $("#tabId tr[key='2'] > td").eq(2).text(),
        num4: $("#tabId tr[key='2'] > td").eq(3).text(),
        num5: $("#tabId tr[key='2'] > td").eq(4).text(),
        num6: $("#tabId tr[key='2'] > td").eq(5).text(),
        num7: $("#tabId tr[key='2'] > td").eq(6).text(),
        num8: $("#tabId tr[key='2'] > td").eq(7).text(),
        num9: $("#tabId tr[key='2'] > td").eq(8).text(),
        num10: $("#tabId tr[key='2'] > td").eq(9).text(),
        num11: $("#tabId tr[key='2'] > td").eq(10).text(),
        num12: $("#tabId tr[key='2'] > td").eq(11).text(),
        num13: $("#tabId tr[key='2'] > td").eq(12).text(),
        num14: $("#tabId tr[key='2'] > td").eq(13).text(),
        num15: $("#tabId tr[key='2'] > td").eq(14).text(),
        num16: $("#tabId tr[key='2'] > td").eq(15).text(),
        num17: $("#tabId tr[key='2'] > td").eq(16).text(),
        num18: $("#tabId tr[key='2'] > td").eq(17).text(),
        num19: $("#tabId tr[key='2'] > td").eq(18).text(),
        num20: $("#tabId tr[key='2'] > td").eq(19).text()
    };
	  
    $.ajax({
        url: "/api/findSnakeGame",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(num),
        success: function(result) {
            $("#result1").text(result.totJump);
            $("#result2").text(result.cntJump);
            $("#tabId tr[key='2'] > td").eq(10).css("background-color","red");
        },
        error: function(error) {
            alert("Error: " + error.responseText);
        }
    });
}
</script>
</body>
</html>

