<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Numbers</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

<script>
function fn_abc() {
 	event.preventDefault();
    var num = {
	      num1 : "1",
	      num2 : 2
    };
	 
    $.ajax({
        url: "/api/add2",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(num),
        success: function(result) {
            $("#result").html(result.sumNo);
        },
        error: function(error) {
            alert("Error: " + error.responseText);
        }
    });
}
</script>


<button type="button" onclick="fn_abc()">더하기</button>
<h2>Result: <span id="result"></span></h2>

</body>
</html>