<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Numbers</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        table, tr, td{
            border : 1px solid black;
            border-collapse: collapse;
        }
    </style>
</head>
<body>
<h4>지하철 요금 계산</h4>

<script>
    function fn_abc() {
        var num = {
            userAge: $("#userAge").val()
        };

        $.ajax({
            url: "/api/check369",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(num),
            success: function(result) {
                $("#result").text(result.userAge);
            },
            error: function(error) {
                alert("Error: " + error.responseText);
            }
        });
    }
</script>

<form id="addForm">
    <input type="text" id="userAge" value="나이">
    <button type="button" onclick="fn_abc()">지하철요금확인</button>
</form>
<h2>Result: <span id="result"></span></h2>

</body>
</html>
