<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Numbers</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<script>
$(function(){
    console.log("a");
    $("#tabId").hide();
});

function fn_abc() {
    var num1 = {
        num1: $("#tabId tr[key='1'] > td").eq(0).text(),
        num2: $("#tabId tr[key='1'] > td").eq(1).text(),
        num3: $("#tabId tr[key='1'] > td").eq(2).text(),
        num4: $("#tabId tr[key='2'] > td").eq(0).text(),
        num5: $("#tabId tr[key='2'] > td").eq(1).text(),
        num6: $("#tabId tr[key='2'] > td").eq(2).text(),
        num7: $("#tabId tr[key='3'] > td").eq(0).text(),
        num8: $("#tabId tr[key='3'] > td").eq(1).text(),
        num9: $("#tabId tr[key='3'] > td").eq(2).text()
    };

    var num2 = {
        num1: $("#chNo1").val(),
        num2: $("#chNo2").val(),
        num3: $("#chNo3").val(),
        num4: $("#chNo4").val(),
        num5: $("#chNo5").val(),
        num6: $("#chNo6").val(),
        num7: $("#chNo7").val(),
        num8: $("#chNo8").val(),
        num9: $("#chNo9").val()
    };

    var dataToSend = {
        num1: num1,
        num2: num2
    };

    var dataToSend2 = {
        num1 : "1",
        num2 : "2",
        num3 : "3",
        num4 : "4",
        num5 : "5",
        num6 : "6",
        num7 : "7",
        num8 : "8",
        num9 : "9"
    };

    $.ajax({
        url: "/api/findBinggoGame",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(dataToSend2),
        success: function(result) {
            $("#result1").text(result.totJump);
            $("#result2").text(result.cntJump);
            $("#tabId tr[key='2'] > td").eq(1).css("background-color","red");
        },
        error: function(error) {
            alert("Error: " + error.responseText);
        }
    });
}
</script>


<h4>SnakeGame</h4>
<form id="addForm">

    컴퓨터 숫자<br>
    <table id="tabId">
        <tr>
            <td>숫자1</td><td>숫자2</td><td>숫자3</td>
        </tr>
        <tr key="1">
            <td>6</td><td>3</td><td>2</td>
        </tr>
        <tr key="2">
            <td>1</td><td>4</td><td>5</td>
        </tr>
        <tr key="3">
            <td>9</td><td>7</td><td>8</td>
        </tr>
    </table>
    선택한숫자<br>
    <input type="text" id="chNo1" value="3">
    <input type="text" id="chNo2" value="4">
    <input type="text" id="chNo3" value="8"><br>
    <input type="text" id="chNo4" value="1">
    <input type="text" id="chNo5" value="2">
    <input type="text" id="chNo6" value="5"><br>
    <input type="text" id="chNo7" value="7">
    <input type="text" id="chNo8" value="9">
    <input type="text" id="chNo9" value="3"><br>

    <button type="button" onclick="fn_abc()">확인</button>
</form>
<h4>뛰어넘은 판의 수: <span id="result1"></span></h4>
<h4>주사위한 수: <span id="result2"></span></h4>

</body>
</html>

