<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Add Numbers</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
table, tr, td{
	border : 1px solid black;
	border-collapse: collapse;
}
</style>
</head>
<body>

<script>

function fn_abc() {
    var val = {
        raceVal: $("#raceVal").val(),
        selMeth: $("#selMeth").val(),
        mySelVal: $("#mySelVal").val(),
        mySelAmt: $("#mySelAmt").val()
    };

    $.ajax({
        url: "/api/playBycle",
        type: "POST",
        contentType: "application/json",
        data: JSON.stringify(val),
        success: function(result) {
            console.log("정상");
        },
        error: function(error) {
            alert("Error: " + error.responseText);
        }
    });
}

</script>

<h4>Bycle</h4>

순위 : <input type="text" id="raceVal" value="1,2,3">

내가 선택 :
<select id="selMeth">
    <option value="oneWin">단승</option>
    <option value="twoWin">쌍승</option>
    <option value="threeWin" selected>삼쌍승</option>
</select><br>
<input type="text" id="mySelVal" value="2,3,4"><br>
금액
<input type="text" id="mySelAmt" value="10000"><br>

결과: <span id="result"></span><br>

<button type="button" onclick="fn_abc()">시작</button><br>

</body>
</html>
